@font-face {
	font-family: Quicksand;
	src: url("../public/Quicksand-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: Quicksand;
	src: url("../public/Quicksand-SemiBold.ttf");
	font-weight: 600;
}

@font-face {
	font-family: Quicksand;
	src: url("../public/Quicksand-Bold.ttf");
	font-weight: 700;
}
